<form
  [formGroup]="registerForm"
  (ngSubmit)="submit()"
  class="primary-form mob:absolute mob:top-[50%] mob:translate-y-[-50%]"
>
  <app-field label="Email">
    <app-input
      formControlName="email"
      label="Email"
      placeholder="Введите ваш email"
      type="email"
      svgName="email"
    />
  </app-field>
  <app-field label="Имя">
    <app-input formControlName="userName" placeholder="Введите ваше имя" svgName="profile" />
  </app-field>
  <app-field label="Введите пароль">
    <app-input
      formControlName="password"
      label="Пароль"
      placeholder="Введите пароль"
      type="password"
      [password]="true"
    />
  </app-field>

  <app-field label="Подтвердите пароль">
    <app-input
      formControlName="passwordConfirm"
      placeholder="Повторите пароль"
      type="password"
      [password]="true"
      autocomplete="new-password"
    />
  </app-field>
  <app-button variant="success" width="full" label="Sign Up" [disabled]="registerForm.invalid" />
</form>
