<ng-container [ngSwitch]="tag">

  <!--  btn -->
  <button (click)="handleClick($event)"
          [ngClass]="['btn', 'btn-' + variant, reverse ? 'btn-reverse' : '', width ? 'w-full' : '']"
          [disabled]="disabled"
          [tabIndex]="tabindex"
          *ngSwitchCase="'button'"
          [type]="type"
  >
    <svg
      *ngIf="svgName"
      class="icon"
      focusable="false"
      aria-hidden="true"
    >
      <use [attr.href]="'../assets/icons.svg#' + svgName"></use>
    </svg>
    {{label}}
    <ng-content></ng-content>
  </button>
  <!--  a -->

  <a
    *ngSwitchCase="'a'"
    (click)="handleClick($event)"
    [ngClass]="['btn', 'btn-' + variant, reverse ? 'btn-reverse' : '', width ? 'w-full' : '']"
    [tabIndex]="tabindex"
    role="button"
    [href]="link"
  >
    <svg
      *ngIf="svgName"
      class="icon"
      focusable="false"
      aria-hidden="true"
    >
      <use [attr.href]="'../assets/icons.svg#' + svgName"></use>
    </svg>
    {{ label }}
    <ng-content></ng-content>
  </a>
  <!--  li -->

  <li
    *ngSwitchCase="'li'"
    (click)="handleClick($event)"
    [ngClass]="['btn', 'btn-' + variant, reverse ? 'btn-reverse' : '', width ? 'w-full' : '']"
    [tabIndex]="tabindex"
    role="button"
  >
    <svg
      *ngIf="svgName"
      class="icon"
      focusable="false"
      aria-hidden="true"
    >
      <use [attr.href]="'../assets/icons.svg#' + svgName"></use>
    </svg>
    {{ label }}
    <ng-content></ng-content>
  </li>
</ng-container>
