<h2 class="typography-xl">Обнови свой дебют</h2>
<form [formGroup]="updateDebutForm" (ngSubmit)="submit()" class="modal-form">
  <app-field label="Title">
    <app-input
      formControlName="title"
      label="Title"
      placeholder="Введите title"
      type="text"
    ></app-input>
  </app-field>
  <app-field label="Description">
    <app-input
      formControlName="desc"
      label="desc"
      placeholder="Введите описание"
      type="text"
    ></app-input>
  </app-field>
  <app-button type="submit" variant="secondary" label="Отправить"></app-button>
</form>
