<div class="textarea-container relative" [ngClass]="{ error: errorMessage && showError }">
  <textarea
    [id]="formControlName"
    [placeholder]="placeholder"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onBlur()"
    (focus)="onFocus()"
    [disabled]="disabled"
    class="typography-md textarea"
    [attr.autocomplete]="autocomplete"
    rows="4"
  ></textarea>
</div>
<span *ngIf="errorMessage && showError" class="text-red typography-lg bottom-[-3rem]">
  {{ errorMessage }}
</span>
