.radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &.has-error .error-message {
    color: red;
  }
}

.radio-options {
  display: flex;
  gap: 3rem;
}

.radio-option {
  display: flex;
  align-items: center;
  cursor: pointer;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.selected .radio-circle {
    border-color: #007bff;
  }

  .radio-circle {
    width: 16px;
    height: 16px;
    border: 2px solid #aaa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
  }

  .radio-dot {
    width: 8px;
    height: 8px;
    background-color: #007bff;
    border-radius: 50%;
  }
}
