<div class="input-container relative mb-[1.5rem]">
  <app-button *ngIf="password" variant="icon" [svgName]="isPasswordVisible ? 'open-eye' : 'close-eye'"
              (clicked)="showPassword()" tabindex="-1" tag="button"
  >
  </app-button>
  <svg
    *ngIf="svgName"
    class="icon"
    xmlns="http://www.w3.org/2000/svg"
    focusable="false"
    aria-hidden="true"
  >
    <use [attr.href]="'../assets/icons.svg#' + svgName"></use>
  </svg>
  <input
    [type]="type"
    [id]="id"
    [placeholder]="placeholder"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onBlur()"
    (focus)="onFocus()"
    [disabled]="disabled"
    class="typography-xl input"
    [attr.autocomplete]="autocomplete"
  />
  <span *ngIf="errorMessage &&  showError" class="text-red typography-lg absolute bottom-[-3rem]">{{errorMessage}}</span>
</div>
