<div class="flex flex-col gap-[3rem] w-full mb-[0.5rem] mob:gap-[1rem] relative">
  <label [for]="id" class="typography-xl font-bold">
    {{ label }}
  </label>
  <div class="input-container">
    <app-button *ngIf="password" variant="icon" [svgName]="isPasswordVisible ? 'open-eye' : 'close-eye'" (clicked)="showPassword()">
    </app-button>
    <svg
      *ngIf="svgName"
      class="icon"
      xmlns="http://www.w3.org/2000/svg"
      focusable="false"
      aria-hidden="true"
    >
      <use [attr.href]="'../assets/icons.svg#' + svgName"></use>
    </svg>
    <input
      [type]="type"
      [id]="id"
      [placeholder]="placeholder"
      [value]="value"
      (input)="onInput($event)"
      [disabled]="disabled"
      class="typography-xl input"

    />
  </div>
  <span *ngIf="error" class="text-red-600 text-[1.5rem] absolute bottom-[-1.8rem] left-[1rem]">{{ error }}</span>
</div>
