<div class="input-container relative" [ngClass]="{ error: errorMessage && showError }">
  <app-button
    *ngIf="password"
    variant="icon-s"
    [svgName]="isPasswordVisible ? 'open-eye' : 'close-eye'"
    type="button"
    (clicked)="showPassword()"
    tabindex="-1"
    tag="button"
  >
  </app-button>
  <svg
    *ngIf="svgName"
    class="icon"
    xmlns="http://www.w3.org/2000/svg"
    focusable="false"
    aria-hidden="true"
  >
    <use [attr.href]="'../assets/icons.svg#' + svgName"></use>
  </svg>
  <input
    [type]="type"
    [id]="id"
    [placeholder]="placeholder"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onBlur()"
    (focus)="onFocus()"
    [disabled]="disabled"
    class="typography-md input"
    [attr.autocomplete]="autocomplete"
  />
</div>
<span
  *ngIf="errorMessage && showError"
  class="typography-lg bottom-[-3rem] mob:typography-md mob:bottom-[-2rem] !text-red"
  >{{ errorMessage }}</span
>
