<div class="absolute top-[50%] transform translate-y-[-50%] w-full h-[40rem] mob:h-[25rem]">
  <div class="flex flex-col justify-between  relative overflow-hidden w-[50rem]  h-full mx-auto border-solid border border-primary rounded-[2rem]  mob:w-[33.5rem] p-[2rem]">

    <app-loader *ngIf="isLoading"></app-loader>
    <h2 *ngIf="!isLoading && isVerify" class="typography-xl text-center">Вы верифицированы</h2>
    <h2 *ngIf="!isLoading && !isVerify" class="typography-xl text-center">Ошибка</h2>
    <a *ngIf="!isLoading" href="https://chess-angular-topaz.vercel.app/sign-in" class="btn btn-success typography-md">Перейти к авторизации</a>
  </div>
</div>
