<div class="w-full h-auto relative">
  <div class="container ml-[20rem] w-[125rem] mob:w-[33.5rem] flex flex-col gap-[2rem] mob:ml-[auto]">

    <div  *ngIf="moveStore.hasChildren()"
               class="flex align-middle justify-center p-[3rem] border border-solid border-[.1rem] border-primary typography-xl rounded-[.5rem]">
            Элементы отсутствуют
          </div>
    <div class="move-container">
            <div *ngFor="let move of moveStore.children(); trackBy: trackById" class="move-item flex-col gap-[2rem] typography-md relative" (click)="moveStore.openModal('moveModal', move)">
              <app-button *ngIf="moveStore.isMine()" type="button" variant="icon" svgName="delete" class="absolute top-[1rem] right-[1rem] z-[10]" (clicked)="moveStore.openModal('deleteModal', move)">
              </app-button>
              <app-button *ngIf="moveStore.isMine()" type="button" variant="icon" svgName="update" class="absolute top-[5.5rem] right-[1rem] z-[10]" (clicked)="moveStore.openModal('updateModal', move)">
              </app-button>
              <h2 class="font-bold">{{move.title | buildTitle:move.pieces}}</h2>
              <p> {{move.desc | trimDesc}}</p>
            </div>
      <div class="move-item" (click)="moveStore.openModal('createModal')">
        <h2 class="typography-xl">Создать ход...</h2>
      </div>
    </div>
  </div>
  <div class="w-[35rem] absolute right-[2rem] top-0 flex flex-col gap-[1rem] text-center mob:static mob:m-auto">
    <p class="typography-lg">текущая позиция</p>

    <app-chess-board
      [boardTheme]="'wood'"
      [orientation]="orientation()"
      [lastTwoFens]="moveStore.move().fens"
      [fen]="moveStore.move().fen"/>
  </div>
</div>
<!--модальное окно для дебюта-->
<app-modal *ngIf="showModal().moveModal" (close)="moveStore.closeModal()">
  <h2 class="typography-xl">{{moveStore.selectedMove().title}}</h2>
  <p class="typography-md">Сторона: {{moveStore.selectedMove().side}}</p>
  <p class="typography-md">Описание: <br> {{moveStore.selectedMove().desc}}</p>
  <app-button tag="a" variant="success" [link]="'move/' + moveStore.selectedMove().id" label="Перейти к ходу" class="w-[40%] mob:w-[100%]">
  </app-button>
</app-modal>
<!--модальное окно для дебюта-->
<!--модальное окно для создания хода-->
<app-board-modal
  *ngIf="showModal().createModal"
  (close)="moveStore.closeModal()"
  [modalFen]="moveStore.moveFen()"
  [lastTwoFens]="moveStore.moveLastTwoFens()"
  [orientation]="orientation()"
>
  <app-create-move-form/>
</app-board-modal>
<!--модальное окно для создания хода-->
<!--модальное окно для удаления хода-->
<app-modal *ngIf="showModal().deleteModal" (close)="moveStore.closeModal()">
  <h2 class="typography-xl mob:w-[80%] mob:text-md">Вы уверены что хотите удалить ход?</h2>
  <p class="typography-lg">*в случае удаления хода все ходы будут удалены</p>
  <div class="w-full flex gap-[1rem]">
    <app-button type="button" variant="primary" label="Нет" class="w-full" width="full" (clicked)="moveStore.closeModal()"></app-button>
    <app-button type="button" variant="secondary" label="Да" class="w-full" width="full" (clicked)="moveStore.deleteMove()"></app-button>
  </div>
</app-modal>
<!-- модальное окно для удаления хода -->


<!-- модальное окно для обновления хода-->
<app-modal *ngIf="showModal().updateModal" (close)="moveStore.closeModal()">
  <app-update-move-form [move]="moveStore.selectedMove()" (clicked)="moveStore.closeModal()">
  </app-update-move-form>
</app-modal>
