.debuts-container {
  width: 135rem;
  margin: 5rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.debut-item{
  width: 100%;
  border: 2px solid #272343;
  border-radius: 1rem;
  padding: 3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .icon{
    width: 2rem;
    height: 2rem;
  }
  .title{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .debuts-container {
    width: 33.5rem;
    margin: 0 auto;
    display: flex;
    grid-template-columns: unset;
    flex-direction: column;
    gap: 2rem;
  }
  .debut-item{
    padding: 2rem;
  }
}
.create-debut-item{
  justify-content: center;
  align-items: center;
}
